/* Define the custom font */
@font-face {
    font-family: 'Monument Extended'; /* Name of the font-family */
    src: url('MonumentExtended-Regular.otf') format('woff2'), /* Add the correct path and format for each font file */
         url('MonumentExtended-Ultrabold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

selction::{

    baground:white;
    color:black

}

/* Apply the custom font to the body or specific elements */
body {
    margin: 0;
    font-family: 'Monument Extended', Arial, sans-serif; /* Apply the custom font */
}

/* Custom styles, if needed, can go here */
.loader-video {
    z-index: 1;
}

a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Ensure links inherit color from parent */
}

/* Header specific styles */
header a {
    font-weight: 500; /* Adjust font weight for header links if needed */
}

/* Main header styles */
.main h1 {
    font-family: 'Monument Extended', Arial, sans-serif; /* Apply the custom font */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .loader h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }

    .main h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }

    header {
        padding: 2rem 1rem; /* Adjust padding for smaller screens */
    }

    header a {
        font-size: 1rem; /* Adjust font size for header links on smaller screens */
    }
}
